table{
    margin-left:center; 
    margin-right:center;
}

textarea{
    background-color: aliceblue;
    display: block;
    margin-bottom: 8px;
    margin-left:center; 
    margin-right:center;
    border-radius: 10px;
 }

 button{
    background-color: aqua;
    height: 40px;
    width: 40px;
 }
 #opac{
    opacity: 0.3;
    /* margin-left: 32%; */
    /* margin-bottom: 3px; */
    height: 19px;
    width: 87px;
    margin: auto;
}